:host {
    width: 100%;     
}

.mat-column-amount {
    width:  20%;
}

.mat-form-field {
    width: 50%;
    font-size: 16px;
}

.long .mat-form-field {
    width: 80%;
}

.bshadow {
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    filter: drop-shadow(5px 5px 5px #222222);
    opacity: .5;
}