<div class="header">Clients</div>

<!-- Actions -->
<div class="actions" style="margin-bottom: 15px;">
    <button mat-raised-button *ngIf="display=='list'" (click)="add()">Add</button>
</div>

<!-- Table list -->
<div *ngIf="display=='list'">
    <mat-table [dataSource]="items" class="mat-elevation-z8">
        <!-- name column -->
        <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
        </ng-container>

        <!-- address column -->
        <ng-container matColumnDef="address">
            <mat-header-cell *matHeaderCellDef>Address</mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.address}} </mat-cell>
        </ng-container>

        <!-- contact column -->
        <ng-container matColumnDef="contact">
            <mat-header-cell *matHeaderCellDef> Contact </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.contact}} </mat-cell>
        </ng-container>

        <!-- actions column -->
        <ng-container matColumnDef="key">
            <mat-header-cell *matHeaderCellDef> Actions </mat-header-cell>
            <mat-cell *matCellDef="let element">
                <button mat-icon-button color="accent" (click)="edit(element)">
                    <mat-icon>edit</mat-icon>
                </button>
            </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
</div>

<!-- Form -->
<div class="form" *ngIf="display=='form'">
    <div>
        <mat-form-field>
            <input matInput required placeholder="Name" [(ngModel)]="item.name" />
        </mat-form-field>
    </div>
    <div>
        <mat-form-field>
            <input matInput (change)="updateAddress()" placeholder="Block" [(ngModel)]="item.block" />
        </mat-form-field>
    </div>
    <div>
        <mat-form-field>
            <input matInput (change)="updateAddress()" placeholder="Lot" [(ngModel)]="item.lot" />
        </mat-form-field>
    </div>
    <div class="long">
        <mat-form-field>
            <input matInput required placeholder="Address" [(ngModel)]="item.address" />
        </mat-form-field>
    </div>
    <div>
        <mat-form-field>
            <input matInput placeholder="Contact" [(ngModel)]="item.contact" />
        </mat-form-field>
    </div>
    <div>
        <mat-form-field>
            <input matInput type="number" placeholder="Slim" [(ngModel)]="item.slim" />
        </mat-form-field>
    </div>
    <div>
        <mat-form-field>
            <input matInput type="number" placeholder="Round" [(ngModel)]="item.round" />
        </mat-form-field>
    </div>
    <div>
        <mat-form-field>
            <input matInput type="number" placeholder="Price" [(ngModel)]="item.price" />
        </mat-form-field>
    </div>
    <div class="long">
        <mat-form-field>
            <input matInput placeholder="Remarks" [(ngModel)]="item.remarks" />
        </mat-form-field>
    </div>
    <div *ngIf="clientPath != ''">
        <a [href]="clientPath" target="_blank">{{ clientPath }}</a>
        <ngx-qrcode [elementType]="elementType" [errorCorrectionLevel]="correctionLevel" [value]="clientPath"
            cssClass="bshadow"></ngx-qrcode>
    </div>
</div>

<!-- Actions -->
<div class="actions">
    <button mat-raised-button *ngIf="display=='list'" (click)="add()">Add</button>
    <button mat-raised-button *ngIf="display=='form'" (click)="cancel()" style="margin-right: 5px;">Cancel</button>
    <button mat-raised-button *ngIf="display=='form'" (click)="save()">Save</button>
</div>