<div class="header">Summary</div>
<!-- controls -->
<div class="controls">
    <mat-form-field *ngIf="IsOpenDaysShowed" style="width: 110px;">
        <mat-label>Select date</mat-label>
        <mat-select [(value)]="selected">
            <mat-option (click)="SetDate()" [value]="option" *ngFor="let option of openDays">
                {{ GetDate(option) | date }}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field style="width: 110px;" *ngIf="role == 'Admin'">
        <mat-label>Date</mat-label>
        <input matInput [matDatepicker]="picker" [(ngModel)]="selectedDate" (dateChange)="dateSelected()" />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <button *ngIf="IsLockDisplayed" (click)="toggleLock()" style="margin-left: 10px;" mat-mini-fab [color]="LockColor">
        <mat-icon>{{date_locked}}</mat-icon>
    </button>
</div>
<!-- Form -->
<table>
    <tr class="tb-header">
        <td>Item</td>
        <td class="amount">Amount</td>
    </tr>
    <tr>
        <td>Water Sales</td>
        <td class="amount">{{ summary.water | number:'1.2-2' }}</td>
    </tr>
    <tr>
        <td>Other Sales</td>
        <td class="amount">{{ summary.others | number:'1.2-2' }}</td>
    </tr>
    <tr>
        <td>Expenses</td>
        <td class="amount">{{ summary.expenses | number:'1.2-2' }}</td>
    </tr>
    <tr style="height: 20px;">
        <td></td>
        <td></td>
    </tr>
    <tr class="diff">
        <td>Total</td>
        <td class="amount">{{ summary.diff | number:'1.2-2' }}</td>
    </tr>
</table>