:host {
    width: 100%;     
}

table {
    width: 80%;
}

.mat-form-field {
    width: 50%;
    font-size: 16px;
}

td {
    font-size: 16px;
}

.tb-header td {
    font-weight: bold;
    height: 40px;
  }

  .diff td {
      font-size: 18px;
      font-weight: bold;
  }

.amount {
    text-align: right;
}

.promo td {
    color: rgb(53, 199, 96);
    font-weight: bold;
}