<mat-card class="example-card" style="max-width: 750px;">
    <mat-card-header>
        <mat-card-title>Login</mat-card-title>
        <mat-card-subtitle>Provide username and password (test users and password: admin, manager, staff)
        </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <div>
            <mat-form-field>
                <input matInput required placeholder="Username" [(ngModel)]="username" />
            </mat-form-field>
        </div>
        <div>
            <mat-form-field>
                <input matInput type="password" (keyup.enter)="login()" required placeholder="Password"
                    [(ngModel)]="password" />
            </mat-form-field>
        </div>
        <div class="error">
            {{ error }}
        </div>
    </mat-card-content>
    <mat-card-actions style="text-align: right;">
        <button mat-raised-button [disabled]="username == '' || password == ''" style="margin-right: 15px;"
            (click)="login()">Login</button>
    </mat-card-actions>
</mat-card>