<div class="header">Menu</div>
<div>
    <a [routerLink]="['/sales']">Water Sales</a>
</div>
<div>
    <a [routerLink]="['/others']">Others Sales</a>
</div>
<div>
    <a [routerLink]="['/expenses']">Expenses</a>
</div>
<div>
    <a [routerLink]="['/summary']">Summary</a>
</div>
<div>
    <a [routerLink]="['/clients']">Clients</a>
</div>
<ng-container *ngIf="role == 'Admin'">
    <div>
        <a [routerLink]="['/users']">Users</a>
    </div>
    <div>
        <a [routerLink]="['/settings']">Settings</a>
    </div>
</ng-container>