:host {
    width: 100%;     
}

table {
    width: 90%;
}

.total td {
    font-size: 18px;
    font-weight: bold;
}

.table-header td {
    font-weight: bold;
}

.message {
    text-align: center;
    width: 90%;
    font-size: 18px;
    font-weight: bold;
}

.promo {
    color: rgb(53, 199, 96);
}

.print {
    display: none;
}

.print-header {
    font-weight: bold;
    margin-bottom: 10px;
}

.print-total td {
    font-weight: bold;
}

@media print {
    .data, .history {
      display: none;
    }
    .print {
        display: block;
    }
}