:host {
    width: 100%;     
}

table {
    width: 90%;
}

.total td {
    font-size: 18px;
    font-weight: bold;
}

.table-header td {
    font-weight: bold;
}

.message {
    text-align: center;
    width: 90%;
    font-size: 18px;
    font-weight: bold;
}

.promo {
    color: rgb(53, 199, 96);
}

.print {
    margin-top: 20px;
    display: none;

    td {
        font-size: 9px;
    }
}

.print-header {
    font-weight: bold;
    font-size: 12px;
    margin-bottom: 10px;
}

.print-total td {
    font-weight: bold;
}

.order {
    margin-top: 20px;
}

.gif {
    width: 100%;
    border-radius: 5px;
    border: 1px silver solid;
}

.form {
    margin-left: 10px;
}

@media print {
    .data, .history {
      display: none;
    }
    .print {
        display: block;
    }
}