<mat-card>
    <mat-card-header>
        <mat-card-title>Billing page</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div style="margin-left: 25px; margin-top: 25px;">
            <div *ngIf="total > 0">
                <table>
                    <tr>
                        <td style="width: 100px;">Name</td>
                        <td>{{ item.name }}</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Contact</td>
                        <td>{{ item.contact }}</td>
                        <td></td>
                    </tr>
                    <tr style="height: 20px;">
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr *ngIf="slim > 0">
                        <td>Slim</td>
                        <td>{{ slim }}</td>
                        <td>{{ item.price * slim | number:'1.2-2' }}</td>
                    </tr>
                    <tr *ngIf="round > 0">
                        <td>Round</td>
                        <td>{{ round }}</td>
                        <td>{{ item.price * round | number:'1.2-2' }}</td>
                    </tr>
                    <tr *ngFor="let bill of billItems">
                        <td>{{ bill.name }}</td>
                        <td>{{ bill.quantity }}</td>
                        <td>{{ bill.amount | number:'1.2-2' }}</td>
                    </tr>
                    <tr *ngIf="promo > 0" class="promo">
                        <td>10 + 1 Promo</td>
                        <td>{{ promo }}</td>
                        <td>-{{ item.price * promo | number:'1.2-2' }}</td>
                    </tr>
                    <tr style="height: 20px;">
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr class="total">
                        <td>Total</td>
                        <td></td>
                        <td>{{ total | number:'1.2-2' }}</td>
                    </tr>
                </table>
                <div class="actions">
                    <button mat-raised-button (click)="delivered()">Delivered</button>
                </div>
            </div>
            <div *ngIf="total < 1" class="message">
                {{ message }}
            </div>
        </div>
    </mat-card-content>
</mat-card>