<mat-card class="data">
    <mat-card-header>
        <mat-card-title>{{ header }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div style="margin-left: 25px; margin-top: 25px;">
            <div style="margin-bottom: 20px;">
                <table>
                    <tr>
                        <td style="width: 100px;">Address</td>
                        <td>{{ item.address }}</td>
                    </tr>
                    <tr>
                        <td>10+1</td>
                        <td>
                            <div class="progress-container">
                                <div class="progress-text">{{ item.counter }} / 10</div>
                                <div class="progress-complete" [ngStyle]="{'width.%': percent}"></div>
                            </div>
                        </td>
                    </tr>
                </table>
                <div class="order">
                    <table>
                        <tr>
                            <td class="order-image">
                                <img class="gif" [src]="image" />
                            </td>
                            <td>
                                <div class="form">
                                    <div style="margin-bottom: 20px; font-size: 18px;">
                                        {{ message }}
                                    </div>
                                    <ng-container *ngIf="showInput">
                                        <div>
                                            <mat-form-field>
                                                <input matInput type="number" placeholder="Slim"
                                                    [(ngModel)]="pickupSale.slim" />
                                            </mat-form-field>
                                        </div>
                                        <div>
                                            <mat-form-field>
                                                <input matInput type="number" placeholder="Round"
                                                    [(ngModel)]="pickupSale.round" />
                                            </mat-form-field>
                                        </div>
                                        <div>
                                            <button mat-raised-button (click)="pickup()">{{ pickupLabel }}</button>
                                        </div>
                                    </ng-container>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div *ngIf="hasItem">
                <hr />
                <table>
                    <tr *ngIf="slim > 0">
                        <td>Slim</td>
                        <td>{{ slim }}</td>
                        <td style="text-align: right;">{{ item.price * slim | number:'1.2-2' }}</td>
                    </tr>
                    <tr *ngIf="round > 0">
                        <td>Round</td>
                        <td>{{ round }}</td>
                        <td style="text-align: right;">{{ item.price * round | number:'1.2-2' }}</td>
                    </tr>
                    <tr *ngFor="let bill of billItems">
                        <td>{{ bill.name }}</td>
                        <td>{{ bill.quantity }}</td>
                        <td style="text-align: right;">{{ bill.amount | number:'1.2-2' }}</td>
                    </tr>
                    <tr *ngIf="promo > 0" class="promo">
                        <td>10 + 1 Promo</td>
                        <td>{{ promo }}</td>
                        <td style="text-align: right;">-{{ item.price * promo | number:'1.2-2' }}</td>
                    </tr>
                    <tr style="height: 20px;">
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr class="total">
                        <td>Total</td>
                        <td></td>
                        <td style="text-align: right;">{{ total | number:'1.2-2' }}</td>
                    </tr>
                </table>
                <div class="actions" *ngIf="isLogin">
                    <button mat-raised-button style="margin-right: 5px;" (click)="print()">Print</button><button
                        mat-raised-button (click)="delivered()">Delivered</button>
                </div>
            </div>
        </div>
    </mat-card-content>
</mat-card>
<div class="print">
    <div class="print-header">Acqua Perfetta</div>
    <table>
        <tr *ngIf="slim > 0">
            <td>Slim</td>
            <td>{{ slim }}</td>
            <td>{{ item.price * slim | number:'1.2-2' }}</td>
        </tr>
        <tr *ngIf="round > 0">
            <td>Round</td>
            <td>{{ round }}</td>
            <td>{{ item.price * round | number:'1.2-2' }}</td>
        </tr>
        <tr *ngFor="let bill of billItems">
            <td>{{ bill.name }}</td>
            <td>{{ bill.quantity }}</td>
            <td>{{ bill.amount | number:'1.2-2' }}</td>
        </tr>
        <tr *ngIf="promo > 0" class="promo">
            <td>10 + 1 Promo</td>
            <td>{{ promo }}</td>
            <td>-{{ item.price * promo | number:'1.2-2' }}</td>
        </tr>
        <tr style="height: 20px;">
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr class="print-total">
            <td>Total</td>
            <td></td>
            <td>{{ total | number:'1.2-2' }}</td>
        </tr>
    </table>
</div>
<mat-card style="margin-top: 20px;" *ngIf="hasPrevious" class="history">
    <mat-card-header>
        <mat-card-title>Order History</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div style="margin-left: 25px; margin-top: 25px;">
            <table>
                <tr class="table-header">
                    <td style="width: 110px;">Date</td>
                    <td>Slim</td>
                    <td>Round</td>
                    <td>Total</td>
                </tr>
                <tr style="height: 20px;">
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr *ngFor="let item of itemPrevious" [class.promo]="item.promo > 0">
                    <td>{{ GetDate(item.action_day) | date }}</td>
                    <td>{{ item.slim }}</td>
                    <td>{{ item.round }}</td>
                    <td>{{ item.amount | number:'1.2-2' }} <span *ngIf="item.promo > 0">*</span></td>
                </tr>
            </table>

            <div class="promo" style="font-style: italic; margin-top: 25px; font-size: smaller;">* 10 + 1</div>
        </div>
    </mat-card-content>
</mat-card>