.brand {
    margin-left: 10px;
    text-decoration: none;
    color: white;
    font-size: 24px;
}

.user {
    color: white;
    text-decoration: none;
    margin-right: 5px;
    font-size: smaller;
}