<div class="header">Water Sales</div>
<!-- controls -->
<div class="controls">
    <mat-form-field *ngIf="IsOpenDaysShowed" style="width: 110px;">
        <mat-label>Select date</mat-label>
        <mat-select [(value)]="selected">
            <mat-option (click)="SetDate()" [value]="option" *ngFor="let option of openDays">
                {{ GetDate(option) | date }}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <div class="date left" *ngIf="role == 'Admin'">
        <mat-form-field style="width: 110px;">
            <mat-label>Date</mat-label>
            <input matInput [matDatepicker]="picker" [(ngModel)]="selectedDate" (dateChange)="dateSelected()" />
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
    </div>
    <div [hidden]="display=='form'" class="right">
        <mat-button-toggle-group value='all'>
            <mat-button-toggle (click)="add()">
                <mat-icon class="add">add_box</mat-icon>
            </mat-button-toggle>
            <mat-button-toggle *ngIf="role != 'Delivery'" value="all" (click)="show('all')">
                <mat-icon class="status-all">check_box</mat-icon>
            </mat-button-toggle>
            <mat-button-toggle (click)="show('pickup')">
                <mat-icon class="status-pickup">connect_without_contact</mat-icon>
            </mat-button-toggle>
            <mat-button-toggle *ngIf="role != 'Delivery'" (click)="show('preparing')">
                <mat-icon class="status-preparing">wash</mat-icon>
            </mat-button-toggle>
            <mat-button-toggle (click)="show('delivery')">
                <mat-icon class="status-delivery">two_wheeler</mat-icon>
            </mat-button-toggle>
            <mat-button-toggle (click)="show('delivered')">
                <mat-icon class="status-delivered">house</mat-icon>
            </mat-button-toggle>
            <mat-button-toggle *ngIf="role != 'Delivery'" (click)="show('paid')">
                <mat-icon class="status-paid">check</mat-icon>
            </mat-button-toggle>
            <mat-button-toggle *ngIf="role != 'Delivery'" (click)="show('cancelled')">
                <mat-icon class="status-cancelled">cancel</mat-icon>
            </mat-button-toggle>
        </mat-button-toggle-group>
    </div>
</div>

<!-- Table list -->
<div *ngIf="display=='list'">
    <mat-table [dataSource]="items">
        <!-- address column -->
        <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
            <mat-cell *matCellDef="let element" [class.total]="element.key == 'total'" [class.selected]="isSelected(element)" (click)="select(element)"><span [matTooltip]="element.address" matTooltipPosition="after" [class.promo]="element.promo > 0">{{element.name}}</span></mat-cell>
        </ng-container>

        <!-- round column -->
        <ng-container matColumnDef="round">
            <mat-header-cell *matHeaderCellDef> Round </mat-header-cell>
            <mat-cell *matCellDef="let element" [class.total]="element.key == 'total'" [class.selected]="isSelected(element)" (click)="select(element)">
                <ng-container *ngIf="!isAmount(element)">
                    {{ element.round }} 
                </ng-container>
            </mat-cell>
        </ng-container>

        <!-- slim column -->
        <ng-container matColumnDef="slim">
            <mat-header-cell *matHeaderCellDef> Slim </mat-header-cell>
            <mat-cell *matCellDef="let element" [class.total]="element.key == 'total'" [class.selected]="isSelected(element)" (click)="select(element)"> 
                <ng-container *ngIf="!isAmount(element)">
                    {{ element.slim }} 
                </ng-container>
                <ng-container *ngIf="isAmount(element)">
                    {{ element.slim | number:'1.2-2' }} 
                </ng-container>
            </mat-cell>
        </ng-container>

        <!-- status column -->
        <ng-container matColumnDef="key">
            <mat-header-cell *matHeaderCellDef> Status </mat-header-cell>
            <mat-cell *matCellDef="let element" [class.selected]="isSelected(element)">
                <mat-menu #appMenu="matMenu">
                    <ng-template matMenuContent>
                        <button mat-menu-item (click)="edit(element)">
                            <mat-icon class="status-all">edit</mat-icon>
                            <span>Edit</span>
                        </button>
                        <button mat-menu-item *ngIf="canExecute('pickup', element)" (click)="setStatus('pickup', element)">
                            <mat-icon class="status-pickup">connect_without_contact</mat-icon>
                            <span>Pickup</span>
                        </button>
                        <button mat-menu-item *ngIf="canExecute('preparing', element)" (click)="setStatus('preparing', element)">
                            <mat-icon class="status-preparing">wash</mat-icon>
                            <span>Preparing</span>
                        </button>
                        <button mat-menu-item *ngIf="canExecute('delivery', element)" (click)="setStatus('delivery', element)">
                            <mat-icon class="status-delivery">two_wheeler</mat-icon>
                            <span>Delivery</span>
                        </button>
                        <button mat-menu-item *ngIf="canExecute('delivered', element)" (click)="setStatus('delivered', element)">
                            <mat-icon class="status-delivered">house</mat-icon>
                            <span>Delivered</span>
                        </button>
                        <button mat-menu-item *ngIf="canExecute('paid', element)" (click)="setStatus('paid', element)">
                            <mat-icon class="status-paid">check</mat-icon>
                            <span>Paid</span>
                        </button>
                        <button mat-menu-item *ngIf="canExecute('cancelled', element)" (click)="setStatus('cancelled', element)">
                            <mat-icon class="status-cancelled">cancel</mat-icon>
                            <span>Cancelled</span>
                        </button>
                    </ng-template>
                </mat-menu>
                <ng-container *ngIf="element.key != 'total'">
                    <button mat-icon-button [matMenuTriggerFor]="appMenu">
                        <mat-icon class='status-{{element.status}}'>{{ getIcon(element.status) }}</mat-icon>
                    </button>
                </ng-container>
                <ng-container *ngIf="showNext(element)">
                    <button mat-icon-button (click)="setNext()">
                        <mat-icon class='status-{{element.status}}'>{{ getIcon(element.status) }}</mat-icon>
                    </button>
                </ng-container>
            </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
</div>

<!-- Form -->
<div class="form" *ngIf="display=='form'">
    <div>
        <mat-form-field>
            <input matInput required placeholder="Name" (change)="updateName()" [(ngModel)]="item.name"
                [formControl]="nameControl" [matAutocomplete]="autoName" />
            <mat-autocomplete (optionSelected)="updateName()" autoActiveFirstOption #autoName="matAutocomplete">
                <mat-option *ngFor="let option of nameFilteredOptions | async" [value]="option">
                    {{ option }}
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>
    </div>
    <div>
        <mat-form-field>
            <input matInput placeholder="Block" (change)="updateLotOptions()" [(ngModel)]="item.block"
                [formControl]="blockControl" [matAutocomplete]="autoBlock" />
            <mat-autocomplete (optionSelected)="updateLotOptions()" autoActiveFirstOption #autoBlock="matAutocomplete">
                <mat-option *ngFor="let option of blockFilteredOptions | async" [value]="option">
                    {{ option }}
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>
    </div>
    <div>
        <mat-form-field>
            <input matInput placeholder="Lot" (change)="blockLotUpdate()" [(ngModel)]="item.lot"
                [formControl]="lotControl" [matAutocomplete]="autoLot" />
            <mat-autocomplete (optionSelected)="blockLotUpdate()" autoActiveFirstOption #autoLot="matAutocomplete">
                <mat-option *ngFor="let option of lotFilteredOptions | async" [value]="option">
                    {{ option }}
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>
    </div>
    <div class="long">
        <mat-form-field>
            <input matInput required placeholder="Address" (change)="updateAddress()" [(ngModel)]="item.address"
                [formControl]="addressControl" [matAutocomplete]="autoAddress" />
            <mat-autocomplete (optionSelected)="updateAddress()" autoActiveFirstOption #autoAddress="matAutocomplete">
                <mat-option *ngFor="let option of addressFilteredOptions | async" [value]="option">
                    {{ option }}
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>
    </div>
    <div>
        <mat-form-field>
            <input matInput required placeholder="Contact" [(ngModel)]="item.contact" />
        </mat-form-field>
    </div>
    <div>
        <mat-form-field>
            <input matInput required type="number" (click)="$event.target.select()" (change)="priceUpdate()" placeholder="Slim" [(ngModel)]="item.slim" />
        </mat-form-field>
    </div>
    <div>
        <mat-form-field>
            <input matInput required type="number" (click)="$event.target.select()" (change)="priceUpdate()" placeholder="Round" [(ngModel)]="item.round" />
        </mat-form-field>
    </div>
    <div>
        <mat-form-field>
            <input matInput [disabled]="isPriceLocked" required (click)="$event.target.select()" type="number" placeholder="Amount" [(ngModel)]="item.amount" />
        </mat-form-field>
    </div>
    <div>
        <mat-form-field>
            <mat-label>Select Status</mat-label>
            <mat-select [(value)]="item.status" required>
                <mat-option value="pickup">Pickup</mat-option>
                <mat-option value="preparing">Preparing</mat-option>
                <mat-option *ngIf="item.key != null" value="delivery">Delivery</mat-option>
                <mat-option *ngIf="item.key != null" value="delivered">Delivered</mat-option>
                <mat-option *ngIf="role != 'Delivery'" value="paid">Paid</mat-option>
                <mat-option *ngIf="item.key != null" value="cancelled">Cancelled</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div class="long">
        <mat-form-field>
            <input matInput placeholder="Remarks" [(ngModel)]="item.remarks" />
        </mat-form-field>
    </div>
</div>

<!-- Actions -->
<div class="actions">
    <button mat-raised-button *ngIf="display=='form'" (click)="cancel()" style="margin-right: 5px;">Cancel</button>
    <button mat-raised-button *ngIf="display=='form'" (click)="save()" [disabled]="!canSave()">Save</button>
</div>