:host {
    width: 100%;     
}

.mat-column-address {
    width: 20%;
}

.mat-form-field {
    width: 50%;
    font-size: 16px;
}

.long .mat-form-field {
    width: 80%;
}

.status-pickup {
    color: rgb(48, 201, 107);
}

.status-preparing {
    color: rgb(41, 90, 122);
}

.status-delivery {
    color: rgb(207, 51, 51);
}

.status-delivered {
    color: rgb(122, 224, 26);
}

.status-paid {
    color: rgb(200, 221, 9);
}

.status-cancelled {
    color: rgb(156, 141, 141);
}

.status-all {
    color: rgb(255, 0, 170);
}

.selected {
    background-color: rgb(243, 243, 116);
}

.add {
    color: rgb(91, 175, 13);
}

.promo {
    color: rgb(53, 199, 96);
    font-weight: bold;
}

table {
    width: 90%;
}

.total, .total td {
    font-size: 18px;
    font-weight: bold;
}

.tr-header td {
    font-weight: bold;
}

.table-area {
    height: calc(100vh - 240px);
    min-height: 155px;
    overflow: auto;
    overflow-x: hidden;
}

@media only screen and (hover: none) and (pointer: coarse) {
    .table-area {
        height: calc(100vh - 400px);
    }
}

.mat-header-row, .mat-footer-row {
    font-weight: bold;
}

.hidden-footer {
    display: none;
}

.mat-table-sticky {
    border-top: 1px solid #e0e0e0;
}

.others {
    margin-top: 20px;
    td {
        text-align: left;
    }
}

.other-action {
    margin-top: 50px;
    width: 100%;
    max-width: 400px;

    .mat-form-field {
        width: 100%;
        font-size: 16px;
    }
}