<div class="header">Card Builder</div>
<mat-card style="margin-top: 20px;">
    <mat-card-content>
        <div style="margin-left: 25px; margin-top: 25px;">
            <mat-form-field>
                <input matInput type="number" placeholder="Number of pages" [(ngModel)]="pages" />
            </mat-form-field>
            <button mat-raised-button style="margin-left: 10px;" (click)="generateRandom()" [disabled]="pages < 1">Generate</button>
        </div>
    </mat-card-content>
</mat-card>

<mat-card style="margin-top: 20px;" *ngIf="itemCards.length > 0">
    <mat-card-content>
        <div style="margin-left: 25px; margin-top: 25px;">
            <table #dataContainer border="1">
                <tr *ngFor="let card of itemCards">
                    <td (click)="select(card.item1)" class="selection" id="{{ card.item1.key }}">
                        <div>
                            {{ card.item1.address }}
                        </div>
                        <ngx-qrcode style="display: none;" [elementType]="elementType" [innerHTML] [errorCorrectionLevel]="correctionLevel"
                            [value]="getClientPath(card.item1)" cssClass="bshadow"></ngx-qrcode>
                    </td>
                    <td (click)="select(card.item2)" class="selection" *ngIf="card.item2 != null"
                        id="{{ card.item2.key }}">
                        <div>
                            {{ card.item2.address }}
                        </div>
                        <ngx-qrcode style="display: none;" [elementType]="elementType" [innerHTML] [errorCorrectionLevel]="correctionLevel"
                            [value]="getClientPath(card.item2)" cssClass="bshadow"></ngx-qrcode>
                    </td>
                    <td (click)="select(card.item3)" class="selection" *ngIf="card.item3 != null"
                        id="{{ card.item3.key }}">
                        <div>
                            {{ card.item3.address }}
                        </div>
                        <ngx-qrcode style="display: none;" [elementType]="elementType" [innerHTML] [errorCorrectionLevel]="correctionLevel"
                            [value]="getClientPath(card.item3)" cssClass="bshadow"></ngx-qrcode>
                    </td>
                </tr>
            </table>
        </div>
        <!-- Actions -->
        <div class="actions" style="margin-bottom: 15px;">
            <button mat-raised-button (click)="generate()">Generate</button>
        </div>
    </mat-card-content>
</mat-card>

<mat-card style="margin-top: 20px;">
    <mat-card-content>
        <div style="margin-left: 25px; margin-top: 25px;">
            <div>
                <mat-form-field>
                    <input matInput (keydown.enter)="updateFilter()" placeholder="Filter clients" [(ngModel)]="filter" />
                    <button mat-button *ngIf="filter" matSuffix mat-icon-button aria-label="Clear" (click)="clearFilter()">
                        <mat-icon>close</mat-icon>
                    </button>
                </mat-form-field>
            </div>
            <div class="table-area">
                <mat-table [dataSource]="dataSource" matSort (matSortChange)="sortData($event)" matSortDisableClear>
                    <!-- name column -->
                    <ng-container matColumnDef="name">
                        <mat-header-cell *matHeaderCellDef mat-sort-header="name"> Name </mat-header-cell>
                        <mat-cell *matCellDef="let element" [class.selected]="isSelected(element)" class="selection"
                            (click)="select(element)"> {{element.name}} </mat-cell>
                    </ng-container>

                    <!-- address column -->
                    <ng-container matColumnDef="address">
                        <mat-header-cell *matHeaderCellDef mat-sort-header="address">Address</mat-header-cell>
                        <mat-cell *matCellDef="let element" [class.selected]="isSelected(element)" class="selection"
                            (click)="select(element)"> {{element.address}} </mat-cell>
                    </ng-container>

                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                </mat-table>
            </div>
        </div>
    </mat-card-content>
</mat-card>

<div #dataRandomContainer style="visibility: hidden;">
    <div *ngFor="let str of randomItems" id="{{ str }}">
        <ngx-qrcode
            style="display: none;"
            [elementType]="elementType"
            [innerHTML]
            [errorCorrectionLevel]="correctionLevel"
            [value]="getPath(str)"
            cssClass="bshadow">
            </ngx-qrcode>
    </div>
</div>