:host {
    width: 100%;     
}

.mat-form-field {
    width: 50%;
    font-size: 16px;
}

td {
    padding: 5px;
}

.bshadow {
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    filter: drop-shadow(5px 5px 5px #222222);
    opacity: .5;
}

.selection {
    cursor: pointer;
}

.selected {
    background-color: rgb(243, 243, 116);
}

.table-area {
    height: calc(100vh - 650px);
    min-height: 200px;
    overflow: auto;
    overflow-x: hidden;
}