<div class="header">Settings</div>
<!-- Table list -->
<div>
    <mat-table [dataSource]="items">
        <!-- name column -->
        <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
</div>

<!-- Actions -->
<div class="actions">
    <div class="long" style="float: left; width: 300px; text-align: left;">
        <mat-form-field style="width: 100%;">
            <input matInput placeholder="Name" [(ngModel)]="categoryName" />
        </mat-form-field>
    </div>

    <button mat-raised-button [disabled]="categoryName == ''" (click)="add()">Add</button>
</div>